html,
body {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

.configurator {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;
  padding: 1rem;
  background-color: #ccc;
  border-radius: 4px;
}
